/* font family */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

/* root color */
:root {
  --blue: rgba(85, 172, 238, 1);
  --blue-50: rgba(85, 172, 238, 0.5);
  --dark: rgba(27, 27, 27, 1);
  --white: rgba(242, 246, 255, 1);
  --white-50: rgba(242, 246, 255, 0.9);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--white);
  height: 1000px;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

header.scrolled {
  background-color: rgba(242, 246, 255, 0.95);
  backdrop-filter: blur(2px);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.logo {
  color: var(--dark);
  font-size: 2.5rem;
  font-weight: 600;
  transition: all 0.3s ease;
}

.logo:hover {
  box-shadow: inset 0 -1rem var(--blue-50);
}

.navbar a {
  color: var(--dark);
  font-size: 1.7rem;
  font-weight: 500;
  margin-left: 3.5rem;
  transition: all 0.3s ease;
}

.navbar a.active {
  color: var(--blue);
}

.navbar.active {
  transform: translateX(0);
  transition: all 0.3s ease;
}

.navbar a:hover {
  color: var(--blue);
}

#menu-icon {
  display: none;
  font-size: 3.5rem;
  color: var(--dark);
  cursor: pointer;
}
/* end header */

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.title-section {
  margin-bottom: 4rem;
}

.title-section h1 {
  display: inline;
  font-size: 2.5rem;
  color: var(--dark);
  box-shadow: inset 0 -1.2rem var(--blue-50);
}

/* home */
.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 9%;
}

.home-content span {
  font-size: 2.5rem;
  color: var(--dark);
  font-weight: 400;
}

.home-content h1 {
  font-size: 6rem;
  color: var(--dark);
  font-weight: 700;
  margin: 0.5rem 0;
}

.home-content h2,
.home-content h2 span {
  font-size: 5.6rem;
  color: var(--dark);
  font-weight: 600;
  margin-bottom: 5rem;
}

.home-content h2 span {
  box-shadow: inset 0 -2.2rem var(--blue-50);
}

.cta-box {
  width: 34.5rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.cta-box .cta {
  display: inline-flex;
  position: relative;
  height: 100%;
  width: 15rem;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--white);
  border-radius: 0.2rem;
  border: 0.5rem solid var(--dark);
  z-index: 1;
  overflow: hidden;
}

.cta-box .cta:hover {
  color: var(--dark);
}

.cta-box .cta::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background-color: var(--white);
  z-index: -1;
  transition: all 0.3s ease;
}

.cta-box .cta:hover::before {
  height: 100%;
  color: var(--dark);
}

.cta-box .cta:nth-child(2) {
  background-color: transparent;
  color: var(--dark);
}
.cta-box .cta:nth-child(2)::before {
  background-color: var(--dark);
}
.cta-box .cta:nth-child(2):hover {
  color: var(--white);
}

/* end home */

/* about */

.about-container {
  display: flex;
  justify-content: space-between;
}

.about-content p {
  color: var(--dark);
  font-size: 1.7rem;
  font-weight: 400;
  width: 90%;
  line-height: 3rem;
  margin-bottom: 1rem;
}

.about-skill {
  display: flex;
  margin-top: 2rem;
}

.skill {
  margin-right: 3rem;
}

.skill li {
  list-style: none;
  font-size: 2rem;
  font-weight: 500;
  margin: 1rem 0;
  letter-spacing: 0.1rem;
}

.skill li::before {
  content: "> ";
  color: var(--blue);
}

.about-image {
  width: 100%;
  height: 100%;
  position: relative;
}

.about-image img {
  position: relative;
  width: 30rem;
  height: 30rem;
  background-size: cover;
  border-radius: 0.2rem;
  box-shadow: 3rem 3rem 0 var(--blue-50);
  transition: all 0.3s ease;
}
.about-image img:hover {
  box-shadow: 4rem 4rem 0 var(--blue-50);
  transform: translate(-0.5rem, -0.5rem);
}
/* 
.about-image img:hover .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--blue-50);
  z-index: 1;
  transition: all 0.3s ease;
}
.about-image:hover .overlay {
  height: 0;
} */
/* end about */

/* recent work */
.work-content {
  margin-top: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 6rem;
}
.work-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 5s ease;
}

.work-box img {
  width: 300px;
  height: 200px;
  background-size: cover;
  border: 0.5rem solid var(--blue-50);
  border-radius: 0.2rem;
}

.work-box img {
  transform: scale(1.1);
}

.overlay {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  border-radius: 0.2rem;
  opacity: 0;
  width: 95%;
  height: 95%;
  background-color: var(--white-50);
  backdrop-filter: blur(0.5rem);
  padding: 2rem;
  user-select: none;
  transition: all 0.3s ease;
}

.work-box:hover .overlay {
  opacity: 1;
}

.overlay h5 {
  font-size: 1.5rem;
  color: var(--dark);
  font-weight: 500;
}
.overlay p {
  font-size: 1.2rem;
  color: var(--dark);
  font-weight: 400;
  line-height: 2rem;
}

.overlay .overlay-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.overlay span {
  font-size: 1rem;
  font-weight: 300;
  color: var(--dark);
}

.overlay .bx-right-arrow-alt {
  font-size: 3rem;
  font-weight: 500;
  color: var(--dark);
}
/* end recent work */

/* contact */

.contact {
  min-height: 90vh;
}

.contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 8rem 0 0;
}

.contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 36%;
}

.contact-box h3 {
  font-size: 3.6rem;
  font-weight: 500;
  color: var(--dark);
}

.contact-box p {
  font-size: 2rem;
  line-height: 2.6rem;
  font-weight: 400;
  color: var(--dark);
  text-align: center;
  width: 100%;
  margin: 2rem 0;
}

.contact-box .cta {
  display: inline-flex;
  position: relative;
  height: 5rem;
  width: 15rem;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--dark);
  border-radius: 0.2rem;
  border: 0.5rem solid var(--dark);
  z-index: 1;
  overflow: hidden;
}
/* end contact */

/* footer */
footer {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 9%;
  background-color: var(--dark);
}
footer span {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--white);
}

footer .social-media a {
  font-size: 2rem;
  color: var(--white);
  margin-left: 1rem;
}
/* end footer */

/* media queri  */
@media screen and (max-width: 870px) {
  header {
    padding: 2rem 5%;
  }
  section {
    padding: 0 5%;
  }

  .home {
    padding: 0 5%;
  }
}

@media screen and (max-width: 790px) {
  .navbar {
    position: absolute;
    left: 0;
    top: 100%;
    padding: 2rem 0;
    width: 100%;
    background-color: rgba(242, 246, 255, 0.95);
    backdrop-filter: blur(2px);
    transform: translateX(-100%);
    transition: all 0.3s ease;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }

  .navbar a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-size: 2rem;
    margin: 2rem 5%;
  }

  #menu-icon {
    display: block;
    order: 1;
  }
}
